.App {
  text-align: center;
}

#mint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  max-width: 90vw;
  padding: 25px 25px 25px 25px;
}

#nft-container {
  padding: 2vw 0px;
  max-height: 15vw;
}

.nft {
  max-width: 15vw;
}

#alien {

}

#dickbutt {

}

#mfer {

}

#moonbird {

}

#noun {

}

#toad {

}

.activeNft {
  box-shadow: 0px 0px 100px white;
  cursor: pointer;
}

button {
  padding: 9px 16px;
  max-height: 40px;
  border-color: #f8e897;
  color: #c5fbc3;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
}

#amount {
  font-size: 24px;
  padding: 9px 16px;
}

#price {
  font-size: 24px;
  padding: 10px 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#title {
  padding-top: 32px;
}

#status {
  color:#ff0000;
}

#walletButton {
  border-radius: 16px;
  text-align: right;
  margin-bottom: 30px;
  line-height: 16px;
  background-color: #1a1a1a;
  color: white;
  border: 2px solid gray;
}

#walletButton:hover {
  color: #ffffff;
  background: #9ea5a5;
  cursor: pointer;
}

#mintButton {
  position: relative;
  background: #000;
  padding: 10px 42px;
  margin-bottom: 10vh;
  border-radius: 8px;
  border: 1px solid gray;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.2em;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  transition: all 0.2s ease;
}

#mintButton:after {
  content: '';
  position: absolute;
  top: 0;
  left: -200%;
  width: 200%;
  height: 100%;
  transform: skewX(-20deg);
  background-image: linear-gradient(to right, transparent, rgba(255,255,255,0.3), transparent);
}
#mintButton:hover:after {
  animation: shine 1.6s ease;
}
#mintButton:active {
  transform: translateY(1px);
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
  background-color: green;
}

@-moz-keyframes shine {
  100% {
    left: 200%;
  }
}
@-webkit-keyframes shine {
  100% {
    left: 200%;
  }
}
@-o-keyframes shine {
  100% {
    left: 200%;
  }
}
@keyframes shine {
  100% {
    left: 200%;
  }
}



#countButton {

  background-color: #ffffff;
  color:#000000;

}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
