@font-face {
  font-family:"Soleil";
  src: url("./fonts/SoleilRegular.otf") format("opentype");
}

body {
  margin: 0;
  font-family: 'Soleil', sans-serif;
  font-size: 2.5vh;
  color: #d0d0d0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle at center, gray 0, black 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000000;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Minter {
  max-width: 80vh;
  max-height: 80vh;
  padding: 60px 100px;
  margin: 0 auto;
  text-align: left;
}
