@font-face {
  font-family:"Soleil";
  src: url("./fonts/SoleilRegular.otf") format("opentype");
}

body {
  margin: 0;
  font-family: 'Soleil', sans-serif;
  font-size: 2.5vh;
  color: #fffcef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Minter {
  padding: 50px 2vw;
  margin: 0 auto;
  text-align: left;
}
