@font-face {
  font-family:"Soleil";
  src: url("./fonts/SoleilRegular.otf") format("opentype");
}

body {
  margin: 0;
  font-family: 'Soleil', sans-serif;
  font-size: 2.5vh;
  color: #fffcef;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle at center, #9ea5a5 0, #1a1a1a 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1a1a1a;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Minter {
  max-width: 90vw;
  max-height: 80vh;
  padding: 60px 100px;
  margin: 0 auto;
  text-align: left;
}
